/* Definim o paleta de culori pe baza culorilor generate cu paletton */
/* Palette URL: http://paletton.com/#uid=7300u0kllllaFw0g0qFqFg0w0aF */
:root {
    /* Tonuri de verde */
    --color-primary-0:#28774F;
    --color-primary-1:#77B395;
    --color-primary-2:#4B956F;
    --color-primary-3:#0F5934;
    --color-primary-4:#003C1D;

    /* Tonuri de albastru */
    --color-secondary-1-0:#28536C;
    --color-secondary-1-1:#6F8FA3;
    --color-secondary-1-2:#477087;
    --color-secondary-1-3:#113951;
    --color-secondary-1-4:#032336;

    /* Tonuri de galben */
    --color-secondary-2-0:#AA7739;
    --color-secondary-2-1:#FFD9AA;
    --color-secondary-2-2:#D4A56A;
    --color-secondary-2-3:#805015;
    --color-secondary-2-4:#552F00;

    /* Tonuri de rosu */
    --color-complement-0:#AA5439;
    --color-complement-1:#FFBEAA;
    --color-complement-2:#D4846A;
    --color-complement-3:#802F15;
    --color-complement-4:#551400;

    /* Fonturi */
    --color-light-0:#FFFFFF;
    --color-gey-0:#333333;
    --color-dark-0:#000000;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:1.5;
  padding:0;
  margin:0;
  background-color:var(--color-primary-0); /*#BFA374*/
  color:var(--color-grey-0);
}

/* Global */

.meniu-fix{
  background:var(--color-primary-4); /*#41A85F*/
  color:var(--color-light-0);
  padding-top:5px;
  min-height:50px;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}


ul{
  margin:0;
  padding:0;
}

.buton_1{
  height:38px;
  background:var(--color-primary-4); /* #2A7242*/
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:var(--color-light-0);
}

.fundal-inchis{
  padding:15px;
  background:var(--color-primary-4);
  color:var(--color-light-0);
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:var(--color-primary-4); /*#41A85F*/
  color:var(--color-light-0);
  padding-top:5px;
  min-height:50px;
}

header a{
  color:var(--color-light-0);
  text-decoration:none;
  text-transform: uppercase;
  font-size:15px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header .brand{
  float: inherit;
  font-size:15px;
  margin-bottom: -50px;
  margin-top: -12px;
}

header .brand h1{
  margin:0;


}

header nav{
  float:right;
  margin-top:3px;
}



header .marcaj, header .curent a{
  color:var(--color-grey-0);
  font-weight:bold;
}

.brand img{
  float: left;
  width: 30px;
  height: 30px;
}

header a:hover{
  color:var(--color-complement-1);
  font-weight:bold;
}

/* Prezentare */
.prezentare{
  min-height:700px;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/prezentare.jpg') no-repeat fixed -100px -200px;
  text-align:center;
  color:var(--color-light-0);
}

.prezentare h1{
  margin-top:250px;
  font-size:30px;
  margin-bottom:10px;
}

.prezentare p{
  font-size:20px;
}

/* Noutati */
#noutati{
  padding:0px;
  color:var(--color-light-0);
  background:var(--color-primary-1);
}

#noutati h1{
  float:left;
}

#noutati form {
  float:right;
  margin-top:15px;
}

#noutati input[type="email"]{
  padding:4px;
  height:28px;
  width:250px;
}

/* Chenare */
.chenare{
  margin-top:20px;
}

.chenare .chenar{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

.chenare .chenar img{
  width:90px;
}


/* Col-dreapta */
aside.col-dreapta{
  float:right;
  width:30%;
  margin-top:10px;
}

aside.col-dreapta .parere input, aside.col-dreapta .parere textarea{
  width:90%;
  padding:5px;
}

/* Col-princip */
article.col-princip{
  float:left;
  width:65%;
}

/* Stiati ca */
ul.stiati-ca li{
  list-style: none;
  padding:20px;
  margin-bottom:10px;
  background:#90A878;
}

footer{
  padding:5px;
  color:var(--color-light-0);
  background-color:var(--color-primary-4); /*#41A85F*/
  text-align: center;
}

/* Container 2 */
.container2{
  width:auto;
  margin:auto;
  overflow:hidden;
}

/* Fundal dino*/

.fundal-verde{
background:var(--color-primary-1);
}

.fundal-maro{
background:var(--color-complement-2);
}

/* Ajustare poza */

img.resize {
  max-width:43%;
  max-height:43%;
}

/* Poza dino */

article.poza-dino{
  float: left;
  text-align: left;
  padding-left: 200px;
  padding-right:200px;
  margin-top:50px;
  margin-bottom:50px;
}

/* Text dino */

aside.text-dino{
  float: right;
  width:40%;
  margin-top:-50%;
}

aside.text-dino h2{

  padding-left: 15%;
  font-size:30px;
  line-height:0.2;
  color:var(--color-grey-0);

}

aside.text-dino p1{
  font-size:30px;
  padding-left:120px;
  line-height: 0.3;
  color:var(--color-grey-0);

}


aside.text-dino p2{
  font-size:18px;
  color:var(--color-grey-0);
}

/* Cerinte media */
@media(max-width: 768px){
  header .brand,
  header .container,
  header .marcaj,
  .brand .img,
  header nav,
  header nav li,
  #noutati h1,
  #noutati form,
  .chenare .chenar,
  article.col-princip,
  aside.col-dreapta{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  .brand h2{
    padding-bottom:30px;
    padding-right: 120px;
    }

  .brand img{
    padding-left: 120px;
    }

  .prezentare h1{
    margin-top:40px;
  }

  #noutati button, .parere button{
    display:block;
    width:100%;
  }

  #noutati form input[type="email"], .parere input, .parere textarea{
    width:100%;
    margin-bottom:5px;
  }

  article.poza-dino{
    float: none;
    padding-left: 80px;
    width: 600px;
  }


  aside.text-dino{
    width:40%;
    padding-right: 140px;

  }


  aside.text-dino h2{
    margin-top: 200px;
  }

}
