/* Definim o paleta de culori pe baza culorilor generate cu paletton */
/* Palette URL: http://paletton.com/#uid=7300u0kllllaFw0g0qFqFg0w0aF */
:root {
    /* Tonuri de verde */
    --color-primary-0:#28774F;
    --color-primary-1:#77B395;
    --color-primary-2:#4B956F;
    --color-primary-3:#0F5934;
    --color-primary-4:#003C1D;
    --color-primary-5:#41A85F;
    --color-primary-6:#90A878;

    /* Tonuri de albastru */
    --color-secondary-1-0:#28536C;
    --color-secondary-1-1:#6F8FA3;
    --color-secondary-1-2:#477087;
    --color-secondary-1-3:#113951;
    --color-secondary-1-4:#032336;

    /* Tonuri de galben */
    --color-secondary-2-0:#AA7739;
    --color-secondary-2-1:#FFD9AA;
    --color-secondary-2-2:#D4A56A;
    --color-secondary-2-3:#805015;
    --color-secondary-2-4:#552F00;
    --color-secondary-2-5:#BFA374;

    /* Tonuri de rosu */
    --color-complement-0:#AA5439;
    --color-complement-1:#FFBEAA;
    --color-complement-2:#D4846A;
    --color-complement-3:#802F15;
    --color-complement-4:#551400;
    --color-complement-5:#BFA374;

    /* Fonturi */
    --color-light-0:#FFFFFF;
    --color-grey-0:#333333;
    --color-grey-1:#7C7C7C;
    --color-dark-0:#000000;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:1.5;
  padding:0;
  margin:0;
  background-color:var(--color-secondary-2-5); /*#BFA374*/
  color:var(--color-grey-0);
}

/* Global */

.meniu-fix{
  background:var(--color-primary-3); /*#41A85F*/
  color:var(--color-light-0);
  padding-top:5px;
  min-height:50px;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}


ul{
  margin:0;
  padding:0;
}

.buton_1{
  height:38px;
  background:var(--color-primary-3); /* #2A7242*/
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:var(--color-light-0);
}

.fundal-inchis{
  padding:15px;
  background:var(--color-primary-6);
  color:var(--color-grey-0);
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:var(--color-primary-4); /*#41A85F*/
  color:var(--color-light-0);
  padding-top:5px;
  min-height:50px;
}

header .meniu-fix a{
  color:var(--color-light-0);
  text-decoration: none;
  text-transform: uppercase;
  font-size:15px;
}

header .meniu-fix li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header .brand{
  float: inherit;
  font-size:15px;
  margin-bottom: -50px;
  margin-top: 5px;
}

header .brand h1{
  margin:0;


}

header nav{
  float:right;
  margin-top:3px;
}



header .marcaj, header .curent a{
  color:var(--color-grey-0);
  font-weight:bold;
}

.brand img{
  float: left;
  width: 30px;
  height: 30px;
  margin-top:-3px;
}

header a:hover{
  color:var(--color-complement-1);
  font-weight:bold;
}

/* Prezentare */
.prezentare{
  min-height:700px;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/prezentare.jpg') no-repeat fixed -100px -200px;
  text-align:center;
  color:var(--color-light-0);
}

.prezentare h1{
  margin-top:250px;
  font-size:30px;
  margin-bottom:10px;
}

.prezentare p{
  font-size:20px;
}

/* Noutati */
#noutati{
  padding:0px;
  color:var(--color-grey-0);
  background:var(--color-primary-1);
}

#noutati h3{
  float:left;
  margin-top:7px;
}

#noutati form {
  float:right;
  margin-top:3px;
}

#noutati input[type="email"]{
  padding:4px;
  height:28px;
  width:250px;
}

/* Chenare */
.chenare{
  margin-top:20px;
}



.chenare .chenar{
  float: left;
  text-align:left;
  width:-10%;
  padding:15px;
  margin-left: 170px;
}

/*
.chenare .chenar:hover{
  color:var(--color-light-0);
  font-weight:bold;
}
*/

.chenare .chenar img{
  width:40px;
  margin-left: 30px;
}

.chenare .chenar a{
  color:var(--color-grey-0);
  text-decoration: none;
}

.chenare .chenar a:hover{
  color:var(--color-complement-1);
  text-decoration: none;
}

/* Col-dreapta */
aside.col-dreapta{
  float:right;
  width:30%;
  margin-top:10px;
}

aside.col-dreapta .parere input, aside.col-dreapta .parere textarea{
  width:90%;
  padding:5px;
}

/* Col-princip */
article.col-princip{
  float:left;
  width:65%;
}

/* Stiati ca */
ul.stiati-ca li{
  list-style: none;
  padding:20px;
  margin-bottom:10px;
  background:#90A878;
}

footer{
  padding:5px;
  color:var(--color-light-0);
  background-color:var(--color-primary-4); /*#41A85F*/
  text-align: center;
}

/* Container 2 */
.container2{
  width:auto;
  margin:auto;
  overflow:hidden;
}

/* Fundal dino*/

.fundal-verde{
background:var(--color-primary-6);
}

.fundal-maro{
background:var(--color-complement-5);
}

/* Ajustare poza */

img.resize {
  max-width:43%;
  max-height:43%;
}

/* Poza dino */

article.poza-dino{
  float: left;
  text-align: left;
  padding-left: 200px;
  padding-right:200px;
  margin-top:50px;
  margin-bottom:50px;
}

/* Text dino */

aside.text-dino{
  float: right;
  width:40%;
  margin-top:-50%;
}

aside.text-dino h2{

  padding-left: 15%;
  padding-bottom: 3%;
  font-size:30px;
  line-height:0.2;
  color:var(--color-grey-0);


}

aside.text-dino p1{
  font-size:30px;
  padding-left:90px;
  line-height: 0.3;
  color:var(--color-grey-0);




}


aside.text-dino p2{
  font-size:18px;
  color:var(--color-grey-0);


}

/* Galerie foto */

.thumbnail {
   width: 50%;
   height: 50%;
   margin-left: 25%;
  }

/* Contact */

.prezentare-contact{
  min-height:700px;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/contact.jpg') no-repeat fixed 0px -200px;
  text-align:center;
  color:var(--color-light-0);
}

.prezentare-contact h1{
  margin-top:150px;
  font-size:30px;
  margin-bottom:10px;
}

.fundal-contact{
  padding:15px;
  color:var(--color-light-0);
  margin-top:10px;
  margin-bottom:10px;

}

#noutati-contact{
  padding:0px;
  color:var(--color-grey-0);
  background:var(--color-primary-5);
  margin-top: -10px;
}

#noutati-contact .adresa h4{
    color:var(--color-grey-0);
    float: left;
    font-weight:bold;
    margin-left: 300px;
    margin-top: 15px;
}

#noutati-contact .adresa p1{
    color:var(--color-light-0);
    float: left;
    margin-top:50px;
    margin-left:-68px;

}

#noutati-contact .adresa p2{
    color:var(--color-light-0);
    float: left;
    margin-top: 70px;
    margin-left: -150px;
    margin-bottom: 15px;
}

#noutati-contact .contact h4{
    color:var(--color-grey-0);
    float: left;
    font-weight:bold;
    margin-left: 300px;
    margin-top: 15px;
}

#noutati-contact .contact p1{
    color:var(--color-light-0);
    float: left;
    margin-top:50px;
    margin-left:-72px;

}

#noutati-contact .contact p2{
    color:var(--color-light-0);
    float: left;
    margin-top: 70px;
    margin-left: -173px;
    margin-bottom: 15px;
}
#noutati-contact .contact p3{
    color:var(--color-light-0);
    float: left;
    margin-top:90px;
    margin-left:-173px;
}

#noutati-contact .contact p4{
    color:var(--color-light-0);
    float: left;
    margin-top: 110px;
    margin-left: -145px;
    margin-bottom: 15px;
}


#noutati-contact form {
  float:right;
  margin-top:3px;

}

#noutati-contact input[type="email"]{
  padding:4px;
  height:28px;
  width:250px;
}

.chenare-contact{
  margin-top:20px;
  background-color:var(--color-grey-1); /*#BFA374*/
  margin-top: 0px;

}

.chenare-contact .chenar-contact{
  float:left;
  padding: 2px;



}

.chenare-contact .chenar-contact img{
  width:40px;
  margin-top: 30px;
  margin-bottom:30px;


}



.col-dreapta-contact{
  float:center;
  width:40%;
  margin-top:10px;
  margin-left: 500px;
}

.col-dreapta-contact .parere-contact input, .col-dreapta-contact .parere-contact textarea{
  width:90%;
  padding:5px;

}

.parere-contact{
  text-align: left;
}

.buton_1_contact{
  height:38px;
  background:var(--color-primary-3); /* #2A7242*/
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:var(--color-light-0);

}


/* Cerinte media */
@media(max-width: 768px){
  header .meniu-fix,
  header .meniu-fix .container,
  header .meniu-fix .container .brand,
  header .meniu-fix .container .brand .img,
  header .meniu-fix .container .brand h2,
  #noutati h3,
  #noutati form,
  .chenare .chenar,
  .chenare .container .chenar,
  .chenare .container .chenar h4,
  .parere,
  .fond-maro,
  .fond-verde,
  .prezentare-contact,
  .prezentare-contact .container,
  .col-dreapta-contact,
  .fundal-contact,
  .chenare-contact,
  .chenare-contact .container,
  #noutati-contact,
  #noutati-contact .adresa,
  #noutati-contact .contact,
  article.poza-dino,
  aside.text-dino,
  article.col-princip,
  aside.col-dreapta{
    float:none;
    text-align:center;
    width:100%;
  }

.meniu-fix .brand h2{
  margin-left: -220px;

}

header nav{
  text-align: center;
}

.prezentare h1{
  margin-top:70%;
}

#noutati button, .parere button{
  display:block;
  width:100%;
}

#noutati h3{
  margin-top: 20%;
}

#noutati form input[type="email"], .parere input, .parere textarea{
  width:100%;
  margin-bottom:5px;
}

.chenare .container .chenar{
  margin-left: 20px;
}

.chenare .container .chenar .img-responsive{
  margin-left: 85px;
}

.chenare .container .chenar h4{
  text-align: center;
}

.parere{
  text-align: left;
  width: 110%;
}

.parere .buton_1{
  width: 30%;
}

article.poza-dino{
  float: none;
  padding-left: 5px;
  width: 600px;
}


aside.text-dino{
  text-align: center;
}


aside.text-dino h2{
  margin-top: 230px;
  margin-left: -15%;
}

aside.text-dino p1{
  padding-top: 30px;
  margin-left: -23%;
}

aside.text-dino p2{
  margin-left: 100%;
}

.prezentare-contact .col-dreapta-contact{
  margin-left: 5%;
}


#noutati-contact .adresa h4{
  margin-left: 50px;
}

#noutati-contact .contact h4{
  margin-left: 50px;
}


}
